# Block the 11GB test set folder
UCSD-PTGBM-BraTS-2024-test-set/

# Block the other local data folder
data/

# Block PyTorch model checkpoints
checkpoints/
*.pt

# Block Vector DB and Python environment
chroma_db/
neuro_agent/
__pycache__/